a {
	-webkit-transition: .2s ease;
	-moz-transition: .2s ease;
	-ms-transition: .2s ease;
	-o-transition: .2s ease;
	transition: .2s ease;
}

#demo-viewport iframe {
	height: 500px;
	margin: 15px 0 0 0;
	padding: 0;
}

#demo-viewport form {
	display: none;
}

#demo-viewport .editing h1 {
	display: none;
}

#demo-viewport .editing form {
	display: block;
}

.nav-list > .active > a, .nav > li > a:hover, .nav-list > .active > a:hover {
	border-radius: 10px;
}